body,
html {
    font-family: "Montserrat", sans-serif;
}

div.row {
    margin-right: 0px !important;
}

div.container-fluid {
    padding-right: 0px !important;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.bg-pink {
    background-color: #c8519f;
}

.bg-light {
    background: #ffffff !important;
}

.bg-purple {
    background-color: #3b4699;
}

.bg-aqua {
    background-color: #EAF8F6;
    border-radius: 20px;
}

.bg-transparent {
    background: transparent !important;
}

.bg-gray {
    background: #E1E3F0;
}

.text-pink {
    color: #C8519F;
}

.text-purple {
    color: #3b4699;
}

.text-aqua {
    color: #34b5a6;
}

.text-link {
    color: #c8519f !important;
    text-decoration: none !important;
}

li::marker {
    color: #3b4699;
}

.list-none {
    list-style: none;
}

.clip-right {
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
}

.clip-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
}

.clip-right-gallery {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    z-index: 2;
}

.overlay-purple-right {
    background: #3b4699;
    opacity: 0.6;
    z-index: -1;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
}

.overlay-purple-right-img {
    background: #3b4699;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    right: -17%;
}

.overlay-purple-left {
    background: #3b4699;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    left: -15%;
}

.overlay-purple-left-img {
    background: #8990c2;
    height: 100%;
    width: 100%;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    left: -20%;
}

.div-container-video .overlay-black {
    background: transparent;
}

.div-container-video:hover .overlay-black {
    background: #000000;
    opacity: 0.4;
}

.z-index999 {
    z-index: 999;
}

.t-0 {
    top: 0%;
}

.t-10 {
    top: 15%;
}

.t-15 {
    top: 30%;
}

.l-15 {
    left: 38%;
}

.l-n-90 {
    left: -90%;
}

.r-0 {
    right: -15%;
}

.mt-10 {
    margin-top: 7rem;
}

.ml-n-1 {
    margin-left: -1%;
}

.ml-n-2 {
    margin-left: -2%;
}

.ml-n-8 {
    margin-left: -8%;
}

.ml-n-9 {
    margin-left: -3%;
}

.ml-n-15 {
    margin-left: -15%;
}

.ml-n-20 {
    margin-left: -20%;
}

.mr-n-15 {
    margin-right: -15%;
}

.mr-n-9 {
    margin-right: -7%;
}

.z-index-2 {
    z-index: 99;
}

.border-rounded {
    border-radius: 2rem;
}

.boder-none {
    border: none !important;
}

.border-left-pink {
    border-left: 2px solid #c8519f;
}

.border-top-aqua {
    border-top: 10px solid #34b5a6;
}

.border-top-pink {
    border-top: 10px solid #c8519f;
}

.border-bottom-pink {
    border-bottom: 5px solid #c8519f;
    border-radius: 5px;
    padding: 3px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-more {
    background: #c8519f;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
}

.img-certification {
    width: 80%;
}

.certification {
    bottom: 0;
    top: -75%;
    left: 7%;
}

.font-50 {
    font-size: 50px;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-13 {
    font-size: 13px;
}

.font-10 {
    font-size: 10px;
}

.center-img-videoplay {
    margin-top: -35%;
    margin-left: 35%;
}

.carousel-indicators-cambio {
    position: relative;
    z-index: 15;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    margin-top: 5%;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: 20% !important;
}

.transition {
    -webkit-animation: change-color 2s linear 0s normal;
    animation: change-color 2s linear 0s normal;
}

.v-youtube {
    width: 560px;
}

.display-movile {
    display: none;
}

.owl-carousel .owl-nav button.owl-next {
    top: 15%;
}

.h-fit-content {
    height: fit-content;
}

.position-responsive {
    position: absolute;
}

.img-injections {
    top: -11.5rem;
    right: -1rem;
}

.div-left-pink {
    height: 250px;
    padding-left: 3%;
    padding-top: 6%;
}

.banner-image {
    background-image: url('../img-botox-competitors/2_09b.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-jaw-clenching {
    background-image: url('../img-botox-jaw-clenching/Rectangulo-2.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-jaw-clenching-1 {
    background-image: url('../img-botox-jaw-clenching/Rectangulo-3.webp');
    background-size: 97% 95%;
    background-repeat: no-repeat;
}

.banner-jaw-clenching-2 {
    background-image: url('../img-botox-jaw-clenching/Rectangulo-4.webp');
    background-size: 97% 70%;
    background-repeat: no-repeat;
}

.banner-botox {
    background-image: url('../img-what-botox/Rectangulo-3.webp');
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.img-botox {
    right: 0%;
    top: -155px;
    bottom: 5%;
}

.img-medio {
    left: 35%;
    top: -650px;
    z-index: 9999;
}

.w-60 {
    width: 60%;
}

.pr-5r {
    padding-right: 5rem;
}

.bg-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(115, 212, 200, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background-size: cover;
    margin: 0 -3.6%;
}

.banner-botox-1 {
    background: #FFFFFF;
    border: 2px solid #3B4699;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    padding: 2rem;
}

.banner-botox-2 {
    background: #FFFFFF;
    border: 2px solid #3B4699;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem;
}

.banner-botox-3 {
    background: #FFFFFF;
    border: 2px solid #3B4699;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem;
}

.banner-botox-4 {
    background: #FFFFFF;
    border: 2px solid #3B4699;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    padding: 2rem;
}

.banner-long-botox {
    background-image: url('../img-how-long-botox/2_06_pexels-photo.webp');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.div-bg {
    background-color: #FFFFFF;
    border: 3px solid #E4B4D2;
    padding: 10%;
    border-radius: 40px;
}

.long-botox {
    z-index: 1;
    margin-top: -5%;
}

.border-purple {
    border: 3px solid #3B4699;
}

.mt-n-10 {
    margin-top: -10%;
}

.mt-n-15 {
    margin-top: -15%;
}

.font-vw {
    font-size: 0.7vw;
}

.border-left-botox {
    border-left: 6px solid #C753A0;
    height: 30px;
}

.img-system {
    top: 50%;
    right: 10%;
}

@keyframes change-color {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5%);
    }
}

@media (max-width: 1024px) {
    .owl-carousel .owl-nav button.owl-next {
        top: 0% !important;
    }
    h2 {
        font-size: 25px;
        font-weight: bold;
    }
    .clip-right {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .clip-left {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .overlay-purple-right {
        display: none;
    }
    .overlay-purple-right-img {
        display: none;
    }
    .overlay-purple-left {
        display: none;
    }
    .overlay-purple-left-img {
        display: none;
    }
    .mr-n-15 {
        margin-right: 0%;
    }
    .certification {
        display: none;
    }
    .l-15 {
        left: 30%;
    }
    .img-injections {
        top: 0rem;
        right: 0rem;
    }
    .position-responsive {
        position: relative;
    }
    .banner-botox {
        background-image: url('../img-what-botox/Rectangulo-3.webp');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .img-botox {
        right: 0%;
        top: 0;
        bottom: 0;
        position: relative !important;
    }
}

@media (max-width: 768px) {
    .mt-sm-5 {
        margin-top: 3rem;
    }
    .v-youtube {
        width: 100%;
    }
    .r-0 {
        right: 0%;
    }
    .l-15 {
        left: 42%;
    }
    .display-desktop {
        display: none;
    }
    .display-movile {
        display: block;
    }
    .pl-video {
        padding-left: 30px;
    }
    .img-injections {
        top: 0rem;
        right: 0rem;
        margin: auto;
        width: 80%;
        padding: 5%;
    }
}

@media (max-width: 440px) {
    .div-left-pink {
        height: 50px;
        padding-left: 10%;
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .owl-carousel .owl-nav button.owl-next {
        top: 20% !important;
        right: -10% !important;
    }
    .l-15 {
        left: 36%;
    }
    .t-15 {
        top: 18%;
    }
    .mt-10 {
        margin-top: 1rem;
    }
    .img-injections {
        top: 0rem;
        right: 0rem;
        margin: auto;
        width: 100%;
        padding: 5%;
    }
    .font-vw {
        font-size: 2vw;
    }
}


/* Css Nuevo */

.list-circle {
    list-style: circle;
}

.border-purple-2px {
    border: 2px solid #3b4699;
}

.border-30 {
    border-radius: 30px;
}

.banner-pink {
    left: 0;
    position: absolute;
    top: 2%;
    z-index: 0;
    height: 20%;
    width: 79.5%;
}

.border-top-left {
    border-top-left-radius: 30px;
}

.border-top-right {
    border-top-right-radius: 30px;
}

.border-top-right {
    border-top-right-radius: 30px;
}

.border-bottom-right {
    border-bottom-right-radius: 30px;
}

.border-bottom-left {
    border-bottom-left-radius: 30px;
}

.border-bottom-0 {
    border-bottom: none;
}

.border-bottom-aqua {
    border-bottom: 5px solid #34b5a6;
}

.bg-aquadark {
    background-color: #34b5a6;
    text-decoration: none !important;
}

.btn-more-webinars {
    padding: 1% 10%;
    letter-spacing: 2px;
}

.padding-3 {
    padding: 1rem;
}

.padding-5 {
    padding: 3rem;
}

.mt-p-5 {
    margin-top: 0;
}

.line-height-2 {
    line-height: 2;
}

.text-decoration-none {
    text-decoration: none;
}

.font-8 {
    font-size: 8px;
}

.w-p-75 {
    width: 75%;
}

.position-absolute-responsive {
    position: absolute;
}

.bg-image-final-summary {
    background-image: url('../img-final-summary-and-recommendations/final-summary-image.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10% 2%;
    margin: 0 -6%;
}

.text-per-right {
    text-align: left;
}

.mpr-5 {
    margin-right: 3rem;
}

.w-10 {
    width: 10%;
}

@media (max-width: 1440px) {
    .banner-pink {
        left: 0;
        position: absolute;
        top: 2%;
        z-index: 0;
        height: 20%;
        width: 89.5%;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .responsive-column-reverse {
        flex-direction: column-reverse;
    }
    .virtual-consulation-img {
        margin-top: 40%;
    }
    .padding-5 {
        padding: 2rem;
    }
    .padding-3 {
        padding: 0rem;
    }
    .mt-p-5 {
        margin-top: 3rem;
    }
    .font-17 {
        font-size: 17px;
    }
    .w-p-75 {
        width: 50%;
    }
    .w-p-75 {
        width: 100%;
        margin-left: 0 !important;
    }
    .position-absolute-responsive {
        position: relative;
    }
    .bg-image-final-summary {
        background-image: url('../img-final-summary-and-recommendations/final-summary-image.webp');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10% 2%;
        margin: 0%;
    }
    .text-per-right {
        text-align: right;
    }
    .mpr-5 {
        margin-right: 0rem;
    }
    .w-10 {
        width: 25%;
    }
    .btn-more-webinars {
        padding: 1% 10%;
        letter-spacing: 2px;
        font-size: 14px;
    }
}

@media (max-width: 440px) {}